% extends "base.html" %}

{% block content %}
	<div class="columns">
		<div class="column">
			<h1 class="title">{% trans %}Welcome to{% endtrans %} {{ SITENAME }}{% trans %}!{% endtrans %}</h1>
			{% if SITENAME_SLOGAN %}<h2 class="subtitle">{{ SITENAME_SLOGAN }}</h2>
			{% if SOCIAL and SOCIAL_FRONTPAGE %}<p>{% trans %}We are in{% endtrans %} <a class="tag is-link" href="https://www.linkedin.com/in/ivanhercaz">LinkedIn</a>, <a class="tag is-dark" href="https://ivanhercaz.github.io/theme/images/icons/github.png">GitHub</a> {% trans %}and{% endtrans %} <a class="tag is-info"class="tag is-info"  href="https://ivanhercaz.github.io/theme/images/icons/twitter.png">Twitter</a>.</p>
		</div>
		<div class="column">
			{{ ABOUT_EXTRACT }}
		</div>
	</div>
	<div class="container">
		<h1 class="title">{% trans %}Last entries{% endtrans %}</h1>
		{% for article in (articles_page.object_list if articles_page else articles) %}
		<article class="message {% for cat in CATS_STYLE %}{% if article.category == cat %}{{ CATS_STYLE[cat] }}{% endif %}{% endfor %}">
				<div class="message-header">
					<p>{{ article.category }}</p>
				</div>
				<div class="message-body">
					<div class="columns is-multiline">
						<div class="column is-one-quarter has-text-centered">
							<p><time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></p>
							<p>{% for tag in article.tags %}<a href="{{ tag.url }}"><span class="tag is-info">{{ tag }}</span></a> {% endfor %}</p>
						</div>
						<div class="column">
							<h2 class="is-size-5"><a href="{{ article.url }}">{{ article.title }}</a></h2>
							{% if article.extract %}<p class="has-text-dark">{{ article.extract }}</p>{% endif %}
						</div>
					</div>
				</div>
			</article>
		{% endfor %}
	</div>
{% endblock content %}
