{% extends "base.html" %}

{% block content %}
	<div class="columns">
		<div class="column">
			<h1 class="title">{% trans %}Welcome to{% endtrans %} {{ SITENAME }}{% trans %}!{% endtrans %}</h1>
			{% if SITENAME_SLOGAN %}<h2 class="subtitle">{{ SITENAME_SLOGAN }}</h2>{% endif %}
			{% if SOCIAL and SOCIAL_FRONTPAGE %}<p>{% trans %}We are in{% endtrans %} <a class="tag is-link" href="https://www.linkedin.com/in/ivanhercaz">LinkedIn</a>, <a class="tag is-dark" href="https://ivanhercaz.github.io/theme/images/icons/github.png">GitHub</a> {% trans %}and{% endtrans %} <a class="tag is-info"class="tag is-info"  href="https://ivanhercaz.github.io/theme/images/icons/twitter.png">Twitter</a>.</p>{% endif %}
		</div>
		<div class="column">
			{{ ABOUT_EXTRACT }}
		</div>
	</div>
	<div class="container">
		<h1 class="title">{% trans %}Last entries{% endtrans %}</h1>
		{% for article in (articles_page.object_list if articles_page else articles) %}
			{% include "_includes/article_extract.html" %}
		{% endfor %}
	</div>
{% endblock content %}
